<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${posts.title}">Developer Inn</title>
</div>
<div th:replace="include/posts-style :: posts_style"></div>
<body>
<div th:replace="include/navbar :: header"></div>

<div th:replace="include/container :: container_both(~{::left}, ~{::right})">
    <left>
        <div th:replace="include/posts-info :: posts_info(${posts}, '/article')"></div>

        <div th:replace="include/comment-list :: comment_list(${posts}, ${comments}, 'article', ${pager})"></div>


        <div th:replace="include/related-posts :: related_posts(${relatedPosts})"></div>
    </left>
    <right>
        <div class="posts-author-box" style="text-align: center;">
            <div class="d-flex justify-content-center align-self-center">
                <img th:alt="${posts.authorName}"
                     th:src="${posts.authorAvatar}"
                     style="width: 80px;height: 80px;border: 1px solid #ddd;border-radius: 50%;"
                     class="img-fluid" alt="...">
            </div>
            <div class="text-center"
                 style="height: 50px;font-size: 18px;font-weight: 500;line-height: 1.5;padding-top: 10px;">
                <a th:href="${'/user/' + posts.authorId}" th:text="${posts.authorName}">阿崔</a>
            </div>
            <button id="followBtn"
                    th:data-target="${isLogin ? '' : '#loginModal'}"
                    th:data-toggle="${isLogin ? '' : 'modal'}"
                    th:data-has-follow="${hasFollow}"
                    th:data-followed="${posts.authorId}"
                    th:text="${hasFollow ? 'Cancel follow' : 'Follow him/her'}"
                    th:class="${'btn ' + (hasFollow ? 'btn-secondary' : 'btn-primary')}">Follow him/her</button>
        </div>


        <div th:replace="include/posts-card :: posts_card('Author Other Articles ', ${'/user/' + posts.authorId}, '/article/', ${authArticleList})"></div>

        <div th:replace="include/used-tags :: used_tags('Commonly used tags', ${usedTags})"></div>
    </right>
</div>

<div th:replace="include/footer :: footer"></div>
<div th:replace="include/posts-script :: posts_script"></div>
<script>
document.addEventListener('DOMContentLoaded', function (event) {
    if (document.querySelectorAll('pre code').length === 0) {
        return;
    }


    loadLink('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css');


    loadScript('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js', function () {
        document.querySelectorAll('pre code').forEach(function (block) {
            hljs.highlightBlock(block);
        });
    });
});
</script>
</body>
</html>