<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${'Q&A - ' + globalConfig.websiteName}">Q&A - Developer Inn</title>
</div>
<body>
<div th:replace="include/navbar :: header"></div>

<div th:replace="include/container :: container_both(~{::left}, ~{::right})">
    <left>

        <div th:replace="include/type-btns :: type_btns(${typeList})"></div>


        <div th:replace="include/article-list :: article_list(${faqList}, false, ${pager})"></div>
    </left>
    <right>

        <div class="card">
            <div class="card-body" style="display: flex;justify-content: space-around;">
                <small style="padding-top: 10px;color: #888888;">If you have any questions, please click here</small>
                <a th:data-target="${isLogin ? '' : '#loginModal'}"
                   th:data-toggle="${isLogin ? '' : 'modal'}"
                   th:href="${'/faq/editor'}"
                   target="_blank"
                   class="btn btn-primary">To ask questions</a>
            </div>
        </div>


        <div th:replace="include/posts-card :: posts_card('Common Q&A', '#', '/faq/', ${hotFaqList})"></div>


        <div th:replace="include/carousel :: carousel('side_carousel', ${sideCarouselList})"></div>


        <div th:replace="include/used-tags :: used_tags('Common tags', ${usedTags})"></div>
    </right>
</div>

<div th:replace="include/footer :: footer"></div>
</body>
</html>